[submodule "config/omarchy/themes/omuriced/waybar/modules/waybar-mpris-enhanced"]
	path = config/omarchy/themes/omuriced/waybar/modules/waybar-mpris-enhanced
	url = git@github.com:hoxton314/waybar-mpris-enhanced.git
